h1 { 
    background-color: black;
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}
#cloud {
    color: aqua;
}
.middle { 
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-family: sans-serif;
}
h3 { 
    color: black;
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    font-weight: lighter;
    padding-right: 10px;
    
}