#container { 
    background-color: aliceblue;
    height: 1050px;
    width: 800px;
    margin: 40px;
    border-top: 5px solid black;
    padding: 10px;



}

#heading1 { 
    color: dimgray;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}

#block1 { 
    background-color: rgb(59, 144, 178) ;
    height: 280px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#block2 { 
    background-color: rgb(218, 116, 180) ;
    height: 280px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#block3 { 
    background-color: rgb(255, 255, 255) ;
    height: 280px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img { 
    height: 200px;
}

.octodex { 
    text-align: center;
    color: darkgrey;
}


