body {
    font-family: 'Roboto', sans-serif;
}

.nav { 
    background-color: rgb(67, 64, 64);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    margin-left: 20px;
}

.nav-links { 
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    list-style-type: none;
    
}
.nav a {
    color: white;
    text-decoration: none;
}

li { 
    margin-right: 10px;
    padding-right: 10px;
    justify-items: left;

}

.btn {
    background-color: cadetblue;
    color: aliceblue;
    box-shadow: 3px 3px black;
}